body{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 24px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main{
    position: relative;
    background-color: #222;
    width: 30vw;
    height: 30vw;
    min-height: 150px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 8px solid #eee;
  }
  
  .pointer{
    height: 2%;
    width: 10%;
    background-color: #eee;
    position: absolute;
  }
  
  #pointer-12{
    top: 0;
    height: 20%;
    width: 2%;
  }
  
  #pointer-11{
    transform: rotate(-120deg) translate(452%)
  }
  
  #pointer-10{
    transform: rotate(-150deg) translate(452%)
  }
  
  #pointer-9{
    left: 0;
    height: 2%;
    width: 20%;
  }
  
  #pointer-8{
    transform: rotate(-210deg) translate(452%)
  }
  
  #pointer-7{
    transform: rotate(-240deg) translate(452%)
  }
  
  #pointer-6{
    bottom: 0;
    height: 20%;
    width: 2%;
  }
  
  #pointer-5{
    transform: rotate(-300deg) translate(452%)
  }
  
  #pointer-4{
    transform: rotate(-330deg) translate(452%)
  }
  
  #pointer-3{
    right: 0;
    height: 2%;
    width: 20%;
  }
  
  #pointer-2{
    transform: rotate(-30deg) translate(452%)
  }
  
  #pointer-1{
    transform: rotate(-60deg) translate(452%)
  }
  
  #point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 100;
  }
  
  #hour{
    height: 2%;
    width: 20%;
  }
  
  #minute{
    height: 2%;
    width: 25%;
  }
  
  #second{
    height: 1%;
    width: 20%;
  }
  
  #digital-clock{
    color: #eee;
    margin-top: 24px;
    font-size: 24px;
    font-weight: 800
  }