*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.for{
    position: absolute;
    margin-top: -900px;
    margin-left: 35%;
}
.gr{
    width: 50%;
    height: 100vh;
    background-color: slategray;
}
.cl{
    width: 50%;
    height: 100vh;
    background-color: grey;
}
.bod{
    display: flex;
}
.ch{
    width: 350px;
    height: 280px;
    background-color: white;
}
.y{
    width: 200px;
    height: 200px;
    background-color: rgb(190, 163, 7);
}
.k{
    width: 350px;
    height: 280px;
    background-color: white;
}
.b{
    width: 200px;
    height: 200px;
    background-color: black;
}
.disf{
    display: flex;
}
.p{
    width: 350px;
    height: 280px;
    background-color: white;
}
.pi{
    width: 200px;
    height: 200px;
    background-color: pink;
}
.sh{
    width: 350px;
    height: 280px;
    background-color: white;
}
.o{
    width: 200px;
    height: 200px;
    background-color: orange;
}
.disp{
    display: flex;
}